*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.border{
    width: 120px;
    height: 120px;
    margin: 70px;
    border-radius: 50%;
    border-top: 8px solid red;
    border-right: 9px solid blue;
    border-bottom: 10px solid green;
    border-left: 7px solid yellow;
    padding: 7px;
}
.border p{
    width: 90px;
    height: 90px;
    color: white;
    font-size: 32px;  
    background-color: rgb(138, 47, 224);
    border-radius: 50%;
    padding-left: 35px;
    padding-top: 25px;
}